.AccountPassword {
    height: 50%;
    display: flex;

    .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }

    .Login_Container {
        font-size: 36px;
        font-weight: bold;
        margin: 5px;
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;

        input {
            background: #FFD370;
            height: 36px;
            border: 2px solid #000;
            width: 200px;
            margin-left: 10px;
        }
    }
}