.LoginRegisterPic {
    background: url(../Image/Title_BG.png) no-repeat center;
    width: 50%;
    margin: 0 auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}